/* css for all */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Start: CSS for Header */
#header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px -2px gray;
    position: relative;
    z-index: 2px;
}

.header-inner{
    width: 80%;
    height: 100%;
    display: flex;
}

#header .header-inner .logo{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
}

#header .header-inner .nav{
   width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Archivo', sans-serif;
}

.main-menu>li{
    width: fit-content;
    margin-right: 10px;
    padding: 5px;
    position: relative;
}

.main-menu>li>a{
    text-decoration: none;
    color: #020516;
    text-transform: uppercase;
    font-weight: 600;
}

.main-menu>li>a.active{
    color: #0b249e;
    text-shadow: 1px 1px #f5eeee;
}

.sub-menu{
    display: none;
}

.main-menu>li:hover .sub-menu{
    display: block;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #F4F4F4;
    padding: 10px;
    width: max-content;
}

.main-menu>li:hover .sub-menu li{
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.main-menu>li:hover .sub-menu li a{
    text-decoration: none;
    color: #000;
}
/*End: CSS for Header  */

/*Start: CSS for Slider */
#slider{
    width: 100%;
    height: 600px;
    display: flex;
}

.slide-item{
    width: 100%;
    height: 100%;
}

.slide-item img{
    max-width: 100%;
    max-height: 100%;
}
/* End: CSS for Slider */

/*Start: CSS for Intro */
#intro{
    width: 100%;
    height: 600px;
    padding: 48px 0 60px 0;

}

#intro .intro-wrapper{
    width: 75%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.intro-wrapper .intro-heading{
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 5px;
}

.intro-heading .intro-border-left{
    height: 100%;
    width: 4px;
    background: linear-gradient(to bottom,#ff512f,#dd2476);
}

.intro-heading .intro-title{
    padding-left: 30px;
}

.intro-heading .intro-title h2{
    font-size: 28px;
    font-weight: 700;
}

.intro-wrapper  .intro-content-wrap{
    display: flex;
    justify-content: center;
}

.intro-content{
    display: flex;
    padding: 5px;
    margin-right: 24px;
}

.intro-content .intro-content-con ul{
    margin: 15px 0 15px 20px;
    width: 100%;
}

.intro-content-con ul>li{
    font-size: 15px;
    line-height: 30px;
    list-style-type: disc;
}

.intro-content-wrap .intro-vid{
    display: flex;
    padding: 5px;
    margin-left: 24px;
}
/* End: CSS for Intro */

/*Start: CSS for Form */
#form{
    background-color: #000D75;
    padding: 75px 0;
}

#form .form-inner{
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

.form-box{
    width: 50%;
    display: flex;
}

.form-box .form-sub-box{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.form-sub-box .form-text{
    margin: 0 20px;
}

.form-title{
    margin-bottom: 20px;
}

.form-sub-box .form-title h2{
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.form-sub-box .form-title h3{
    margin-top: 8px;
    color: #fff;
    font-size: 17px;
    text-align: center;
}

.form-sub-box .scholarship{
    width: 100%;
    height: 63px;
    line-height: 63px;
    text-align: center;
    margin-bottom: 20px;
}

.scholarship a{
    font-size: 28px;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: 600;
}


.form-text .sub-form-text{
    width: 100%;    
    display: block;
}

.sub-form-text .text{
    width: 96%;
    margin: 0 0 15px 0;
    background-color: #FFFFFF;
    display: block;
}

.sub-form-text .text5{
    width: 96%;
    height: 100px;
}

.sub-form-text .text textarea,
.sub-form-text .text input{
    width: 100%;
    height: 100%;
    padding: 9px;
}

.sub-form-text .text textarea{
    padding: 9px;
}

.form-text .register-btn{
    max-width: 100%;
    height: 43.2px;
    background-color: #EDB017;
    margin-top: 74px;
    text-align: center;
    line-height: 43.2px;
    border-radius: 4px;
}

.form-text .register-btn p{
    font-size: 16px;
    font-weight: 550;
    text-transform: uppercase;
}

.form-text .register-btn:hover{
    color: #FFFFFF;
    background-color: #008FCA;
}

.form-img{
    width: 50%;
    display: flex;
    padding: 30px;
}

.form-img img {
    max-width: 100%;
    min-height: 100%;
}
/* End: CSS for Form */

/* Start: CSS for Object */
#object{
    display: flex;
    justify-content: center;
    padding: 75px 0;
}

.object-inner{
    width: 80%;
}

.object-inner .object-heading{
    margin-bottom: 20px;
    text-align: center;
}

.object-inner .object-heading h3{
    font-size: 1.55rem;
    text-transform: uppercase;
    font-weight: 550;
    margin-bottom: 20px;
}

.object-heading .object-border-orange{
    width: 100%;
    display: inline-block;
}

.object-border-orange .object-border{
    width: 200px;
    height: 3px;
    background-color: #FF7B06;
    margin: auto;
    margin-bottom: 20px;
}

.object-content{
    display: flex;
    justify-content: space-around;
}

.object-content .object-item{
    width: 28%;
    padding: 18px;
    background-color: #ccc;
}


.object-content .object-item img{
    width: 100%;
    height: 230px;
}

.object-content .object-item p{
    text-align: justify;
    margin-top: 20px;
    line-height: 22.5px;
    text-align: center;
    margin-bottom: 20px;
}

/* End: CSS for Object */

/* Start: CSS for Content */
#content{
    width: 100%;
    height: 600px;
    padding: 98px 0 70px 0;
    background-color: #f7f9fb;
    background-image: url("https://aptech.vn/wp-content/uploads/2021/08/business-background.png");
    background-size: cover;
}

#content .content-inner{
    display: flex;
    flex-direction: column;
}

.content-inner .content-heading-wrap{
    width: 80%;
    display: flex;
    margin: auto;
    padding: 10px;
}

.content-heading-wrap .content-heading{
    text-align: center;
    width: 100%;
}

.content-heading-wrap .content-heading h2{
    color: #4D02AD;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.content-heading-wrap .content-heading h3{
    font-size: 18px;
    font-weight: 700;
}

.content-inner .content-container{
    width: 100%;
}

.content-container .content-inner-list{
    width: 80%;
    display: flex;
    margin: auto;
}

.content-inner-list .content-box{
    padding: 15px 20px 15px 0;
    display: flex;
    flex-direction: column;
}

.content-box .content-item{
    padding: 20px 0 50px 0;
    display: flex;
    margin-bottom: 5px;
}

.content-item .content-text h3{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    line-height: 25px;
    margin-bottom: 20px;
}

.content-item .content-text p{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.content-item .content-icon{
    display: flex;
}

.content-icon .content-icon-con{
    height: 80px;
    width: 80px;
    border: 2px solid #8219D3;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
}

.content-icon .content-icon-con i{
    line-height: 80px;
    font-size: 40px;
    color: #8219D3;
}
/* End: CSS for Content */

/*Start: CSS for Semester */
#semesters{
    width: 100%;
    height: 300px;
    padding-top: 50px;
    background-color: #6C6C6C00;
    background-image: url("https://aptech.vn/wp-content/uploads/2021/01/what-does-it-take-to-get-high-school-diploma-online-1024x683-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.semester-inner{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.semester-inner .semester-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.semester-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.semester-heading h2{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.semester-heading h3{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.semester-down{
    text-align: center;
}

.semester-down i{
    color: #fff;
    font-size: 50px;
}
/*End: CSS for Semester */

/*Start: CSS for List-path */
#list-path{
    width: 100%;
}

#list-path .list-path-wrap{
    width: 75%;
    display: flex;
    margin: auto;
    padding: 10px;
    flex-direction: column;
}

.backgr-gray{
    background-color: #DBDEE0;
}

.list-path-card {
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

.list-path-card .list-content{
    width: 100%;
}

.list-content-heading{
    width: 100%;
    margin-bottom: 20px;
    display: inline-block;
}

.list-content-heading h2{
    font-size: 25px;
    font-weight: 700;
}

.sub-list-content{
    margin-bottom: 20px;
}

.sub-list-content-wrap{
    margin-top: 20px;
}

.list-checkbox .list-checkbox-item{
    height: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 2.5px;
    margin-bottom: 2.5px;
}

.list-checkbox .list-checkbox-item .list-checkbox-text{
    font-size: 16px;
    font-weight: 600;
    font-family: 'Archivo', sans-serif;
    padding-left: 12px;
}

.list-checkbox-item .list-checkbox-icon{
    display: flex;
}

.list-checkbox-item .list-checkbox-icon i{
    color: #0A25A6;
    font-size: 20px;
}

.target-btn{
    color: #0B249E;
    width: 100%;
    padding: 15px;
}


.target-btn:hover .list-img{
    display: flex;
    align-items: center;
}
.target-wrap .target-btn:hover .target-content-list{
    display: block;
}

.target-btn-icon{
    font-size: 13px;
    margin-right: 8px;
}

.list-checkbox-text{
    font-size: 15px;
    font-weight: 600;
}

.list-img-even{
    width: 100%;
    margin-right: 30px;
    padding: 30px 30px 30px 0;
}

.list-img-odd{
    width: 100%;
    margin-left: 30px;
    padding: 30px 0 30px 30px;
}

.list-img .list-img-logo{
    width: 100%;
    text-align: center;
}

.list-img-logo img{
    text-align: center;
    width: 90%;
}

.target-content{
    display: none;
    padding: 15px;
}

.target-content-list{
    margin: 15px 0 15px 20px;
    font-size: 15px;
    list-style-type:disc;
    line-height: 20px;
}

.target-content-list li{
    line-height: 30px;
}


/*End: CSS for List-path */

/* Minh  */
.course {
    position: relative;
    width: 100%;
    height: 732px;
    background-color: #274578;
}

.course h2 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40px;
    font-size: 28px;
}

.course__text {
    width: 1280px;
    height: 35px;
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin: 20px 0;
    color: #fff;
}

.course-wrap {
    width: 1300px;
    height: 574px;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 36px;
}

.course__img-wrap {
    width: 320px;
    height: 271px;
    padding: 0 10px;
}

.course__img {
    width: 300px;
    height: 251px;
    padding: 2px;
    background-color: #fff;
    float: left;
    text-align: center;
}

.course__img1:hover .img1 {
    transform: scale(1.08);
    transition: all 0.6s;
}

.course__img2:hover .img2 {
    transform: scale(1.08);
    transition: all 0.6s;
}

.course__img3:hover .img3 {
    transform: scale(1.08);
    transition: all 0.6s;
}

.course__img4:hover .img4 {
    transform: scale(1.08);
    transition: all 0.6s;
}

.course__img:hover p {
    color: blue;
}



.course__img img {
    width: 296px;
    height: 178px;
}

.course__img p {
    font-size: 15px;
    font-weight: 700;
    line-height: 27px;
    color: #000;
    padding: 10px;
    text-align: center;
}

.course-info {
    height: 188px;
    width: 1280px;
    text-align: center;
    margin-left: 136px;
    position: absolute;
    bottom: 98px;
}

.course-info p {
    font-size: 17px;
    font-weight: 600;
    line-height: 30.6px;
    height: 61.2px;
    width: 1220px;
    text-align: center;
    color: #fff;
}

.course-button {
    position: absolute;
    width: 170px;
    height: 46px;
    border: 3px solid #fff;
    /* display: flex; */
    text-align: center;
    margin-left: 490px;
    margin-top: 44px;
}

.course-button:hover {
    background-color: #ff7b06;
    cursor: pointer;
}

.course-button span {
    font-size: 18px;
    font-weight: 700;
    line-height: 45.8px;
    height: 100%;
    width: 100%;
    background-color: none;
    color: #fff;
}

.course-button i {
    font-size: 16px;
    margin-left: 10px;
    position: 10px;
    /* font-weight: 500; */
    line-height: 16px;
    color: #fff;
    background-color: none;
}

.price-wrap span {
    height: 25px;
    width: 1100px;
    font-size: 25px;
    font-weight: 600;
    line-height: 25px;
}

.price-course {
    width: 100%;
    justify-content: center;
    height: 25px;
    margin: 80px 0 23px 568px;
}

.img-wrap {
    width: 1100px;
    height: 560px;
    margin-left: 252px;
}

.scholarship {
    height: 632px;
    width: 100%;
    background-color: #5b5bdc;
}

.scholarship-wrap {
    width: 1100px;
    height: 540px;
    margin: auto;
    display: flex;
}

.col-1 {
    width: 50%;
    height: 100%;
}

.col-1 h2 {
    padding: 36px 0 22px 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 24px;
    height: 28px;
    width: 480px;
    color: #fffd09;
    text-align: center;
}

.col-1 .price {
    height: 58px;
    width: 455px;
    font-size: 27px;
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    line-height: 58px;
    text-align: center;
    margin: 20px 0 ;
}

.col-1 .name{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    
}

.col-1 .email{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
}
.col-1 .number{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
}
.col-1 .address{
    width: 90%;
    padding: 12px;
    margin: 10px 0;
}
.col-1 select{
    width: 96%;
    padding: 12px;
    margin: 10px 0;
}

.col-1 button {
    width: 96%;
    background-color: #edb017;
    padding: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin-top: 10px;
    border-radius: 5px;
}

.col-1 button:hover {
    background-color: #6EC1E4;
    cursor: pointer;
    color: #fff;
}

.col-2 .col-2-list {
    margin-top: 36px;
    padding-left: 164px;
    list-style: disc;
}

.col-2 .col-2-item {
    font-size: 16px;
    font-weight: 500;
    line-height: 28.8px;
    color: #fff;
    padding: 10px 0;
}

.col-2 .col-2-list-child {
    list-style: circle;
    padding-left: 20px;
}

.col-2 .col-2-item-child {
    padding: 5px 0 5px 20px;
}


/* 
.job {
    background-color: #d5d4d4;
    width: 100%;
    height: 724px;
}

.job-wrap {
    width: 1100px;
    height: 632px;
    margin: auto;
    display: flex;
}

.job-img {
    width: 276px;
    height: 200px;
    background-color: #6EC1E4;
}

.job-img-wrap {
    position: relative;
}

.job-img-circle {
    position: absolute;
    height: 86px;
    width: 86px;
    border: 1px solid #fff;
    border-radius: 50%;
} */


.header {
    position: relative;
}

.header-wrap {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
}

.header-col-1 {
    padding-left: 96px;
    width: 50%;
}

.header-col-1 span {
    text-align: center;
}

.header-col-1 h2 {
    font-size: 24px;
    font-weight: 700;
    padding: 40px 0;
}

.header-col-1 p {
    font-size: 15px;
    line-height: 26px;
    width: 410px;
}

.header-col-1 button {
    background-color: #edb017;
    padding: 15px 10px 15px 10px;
    width: 200px;
    border-radius: 50px;
    font-weight: 800;
    text-align: center;
    margin-left: 8px;
    margin-top: 40px;
}

.header-col-1 button:hover {
    color: #fff;
    background-color: #000;
}

.header-col-2 {
    width: 50%;
}


.header h1 {
    text-align: center;
    margin: 150px 0 100px 0;
    font-size: 28px;
    font-weight: 700;
}

.header-logo {
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 100px;
    position: relative;
}

.header-logo img {
    height: 80px;
    max-width: 240px;
}

.header .i-left {
    left: 10px;
    position: absolute;
    font-size: 24px;
    bottom: 40px;
}

.header-logo i {
    position: absolute;
    font-size: 24px;
    top: 26px;
    right: 8px;
}


#contact{
    width: 100%;
    padding: 40px 0 50px 0;
    background-color: #2F319E;
}

.contact-container{
    padding: 10px;
    display: flex;
}

.contact-wrap{
    width: 100%;
    padding-top: 20px;
}

.contact-content{
    width: 80%;
    display: flex;
    margin: auto;
}

.course-list{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.aptech-contact-heading,
.course-list-heading{
    margin-bottom: 10px;
}

.form-heading h2,
.aptech-contact-heading h2,
.course-list-heading h2{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.course-item{
    padding-bottom: 10px;
}

.course-item .course-item-sub{
    padding: 10px 0 10px 6px;
    display: flex;
    align-items: center;
}

.contact-info-item span,
.course-item-sub .course-item-text{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.course-item-sub .arrow-right{
    color: #fff;
    margin-right: 6px;
}

.aptech-contact-list{
    width: 40%;
    padding: 0 30px 0 50px;
    display: flex;
    flex-direction: column;
}

.contact-info-list .contact-info-item{
    display: flex;
    padding-bottom: 10px;
    line-height: 40px;
    margin-top: 10px;
}

.form-info{
    width: 30%;
    padding-left: 40px;
    margin-bottom: 15px;
}

.form-heading{
    margin-bottom: 20px;
}

.form-info-item{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.form-info-item input{
    width: 100%;
    height: 34px;
}

.send-confirm{
    margin-top: 30px;
}

.send-btn{
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    background-color: #edb017;
    color: #000;
    padding: 10px;
    border: 2px solid #edb017;
    border-radius: 5px;
}

.send-btn:hover{
    color: #fff;
    background-color: #008FCA;
    transition: 0.4s;
    border: 2px solid #008FCA;
}